
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Rent a Car | Home </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Normalize CSS -->
    <link href="~/Content/css/normalize.css" rel="stylesheet" />

    <!-- Main CSS -->
    <link href="~/Content/css/main.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Animate CSS -->
    <link href="~/Content/css/animate.min.css" rel="stylesheet" />

    <!-- Font-awesome CSS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Owl Caousel CSS -->
    <link href="~/Scripts/vendor/OwlCarousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Scripts/vendor/OwlCarousel/owl.theme.default.min.css" rel="stylesheet" />

    <!-- Main Menu CSS -->
    <link href="~/Content/css/meanmenu.min.css" rel="stylesheet" />

    <!-- Datetime Picker Style CSS -->
    <link href="~/Content/css/jquery.datetimepicker.css" rel="stylesheet" />

    <!-- ReImageGrid CSS -->
    <link href="~/Content/css/reImageGrid.css" rel="stylesheet" />

    <!-- Switch Style CSS -->
    <link href="~/Content/css/hover-min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/Content/css/style.css" type="text/css" rel="stylesheet" />

    <!-- Modernizr Js -->
    <script src="~/Scripts/modernizr-2.8.3.min.js">






    </script>
    <style>
        .main-banner2-area {
            background-image: url("/Content/img/main-banner2.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        #preloader {
            background: #ffffff url('/Content/img/preloader.gif') no-repeat scroll center center;
            height: 100%;
            left: 0;
            overflow: visible;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 9999999;
        }

        .sidebar-categories-list li:before {
            display: none;
        }

        .user-account-info ul li:before {
            display: none;
        }

        .hmdxoi {
            color: rgb(255, 255, 255);
            background-color: rgb(58, 160, 58);
            font-size: 11px;
            line-height: 16px;
            font-weight: 600;
            text-align: center;
            width: 300px;
            height: 16px;
            display: inline-block;
            text-decoration: none;
            padding: 0px 7px;
            border-radius: 2px;
        }
    </style>
</head>
<body>
    <!-- Add your site or application content here -->
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <!-- Main Body Area Start Here -->
    <div id="wrapper">
        <!-- Header Area Start Here -->
        <header>
            <div id="header2" class="header2-area right-nav-mobile">
                <div class="header-top-bar">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                                <div class="logo-area">
                                    <a href="index.htm">
                                        <img src="logo.png" />logo
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-menu-area bg-primaryText" id="sticker">
                    <div class="container">
                        <nav id="desktop-nav">

                            <ul id="sirketMenu">
                                <li class="active">
                                    @Html.ActionLink("Home", "Index", "Home")
                                </li>
                              


                                


                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu Area Start -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">

                                    <ul>
                                        <li class="active">
                                            @Html.ActionLink("Home", "Index", "Home")
                                        </li>
                                        @*@foreach (var departman in Model.departmanlar)
                                        {
                                            <li>
                                                @Html.ActionLink(departman.deparmanAd, "UserGridDepartman", "User", new { departmanID = departman.departmanID }, new { })
                                            </li>

                                        }*@


                                        <li>@Html.ActionLink("About", "About", "Home")</li>
                                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                        <li>@Html.ActionLink("Help", "Help", "Home")</li>


                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu Area End -->
        </header>
        <!-- Header Area End Here -->
        <!-- Main Banner 1 Area Start Here -->
        <div class="main-banner2-area">
            <div class="container">
                <div class="main-banner2-wrapper">
                    <h1>Rent a Car Sitesine Hoşgeldiniz</h1>
                    <p> Bu sitede dilediğiniz şirketten araç kiralayabilirsiniz ... </p>
                </div>
            </div>
        </div>
        <!-- Main Banner 1 Area End Here -->
        <!-- Newest Employee Area Start Here -->
        <div class="newest-products-area bg-secondary section-space-default">
            <div class="container">
                <h2 class="title-default">Yeni Araçlarımız</h2>
            </div>

            <div class="container-fluid" id="isotope-container">
               
                <div id="card" class="row featuredContainer">


                    

                </div>
            </div>

            <!-- Newest Employees Area End Here -->
            <!-- Why Choose Area Start Here -->
            <!-- Footer Area Start Here -->
            <footer style="margin-top:250px;">
                <div class="footer-area-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="footer-box">
                                    <h3 class="title-bar-left title-bar-footer">Our Address</h3>
                                    <ul class="corporate-address">
                                        <li><i class="fa fa-map-marker" aria-hidden="true"></i><a href="Phone(01)800433633">Turgutlu/Manisa , Turkey</a></li>
                                        <li><i class="fa fa-phone" aria-hidden="true"></i>+90 05322222222</li>
                                        <li><i class="fa fa-fax" aria-hidden="true"></i>+90-212-3102416</li>
                                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i>firat_yzm17@outlook.com</li>

                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="footer-box">
                                    <h3 class="title-bar-left title-bar-footer">Need Help?</h3>
                                    <ul class="featured-links">
                                        <li>
                                            <ul>
                                                <li>@Html.ActionLink("Help", "Help", "Home")</li>

                                                <li>@Html.ActionLink("Contact Us", "Contact", "Home")</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="footer-box">
                                    <h3 class="title-bar-left title-bar-footer">Follow Us On</h3>
                                    <ul class="footer-social">
                                        <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-area-bottom">
                    <div class="container">
                        <p>2019 Rent a Car Uygulaması . Made by Asp.NET MVC.</p>
                    </div>
                </div>
            </footer>
            <!-- Footer Area End Here -->
        </div>
        <!-- Main Body Area End Here -->
        <!-- jquery-->
        <script src="~/Scripts/jquery-2.2.4.min.js"></script>

        <!-- Plugins js -->
        <script src="~/Scripts/plugins.js"></script>

        <!-- Bootstrap js -->
        <script src="~/Scripts/bootstrap.min.js"></script>

        <!-- WOW JS -->
        <script src="~/Scripts/wow.min.js"></script>

        <!-- Owl Cauosel JS -->
        <script src="~/Scripts/vendor/OwlCarousel/owl.carousel.min.js"></script>

        <!-- Meanmenu Js -->
        <script src="~/Scripts/jquery.meanmenu.min.js"></script>

        <!-- Srollup js -->
        <script src="~/Scripts/jquery.scrollUp.min.js"></script>

        <!-- jquery.counterup js -->
        <script src="~/Scripts/jquery.counterup.min.js"></script>
        <script src="~/Scripts/waypoints.min.js"></script>
        
        <!-- Isotope js -->
        <script src="~/Scripts/isotope.pkgd.min.js"></script>

        <!-- Gridrotator js -->
        <script src="~/Scripts/jquery.gridrotator.js"></script>

        <!-- Custom Js -->
        <script src="~/Scripts/main.js"></script>

</body>
</html>

<script type="text/javascript">
    $(function () {
        $.ajax({
            type: "GET",
            url: "http://localhost:25667/api/Arac",
            async: false,
            dataType: "JSON",
            success: function (data) {

                console.log(data);
                $.each(data.Data, function (index, val) {
                   

                    $("#card").append('<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  plugins component"><div class="single-item-grid"><div class="item-img">' +'<img src="/Content/AdminContent/img/apple-icon.png" alt="product" class="img-responsive">'+'<div class="trending-sign" data-tips="Trending"><i class="fa fa-bolt" aria-hidden="true"></i></div> </div> <div class="item-content"><div class="item-info"><div class="row"><div class="col-md-12 col-sm-12 col-lg-12"><h3><a href="/Arac/AracDetails?aracId='+val.Id +'">'+val.aracAdi +'</a></h3></div><div class="col-md-12 col-sm-12 col-lg-12"><div class="row"><div style="margin-top:20px;" class="col-md-12 col-sm-12 col-lg-12"><div class="col-md-2">  </div>  </div></div></div></div></div></div></div>'+'</div></div>');

                   
                    
                })
            }
            
        })
        $.ajax({
            type: "GET",
            url: "http://localhost:25667/api/Sirket",
            dataType: "JSON",
            
            success: function (data) {

                console.log(data);
                $.each(data.Data, function (index, val) {
                    

                    $("#sirketMenu").append('<li><a href="/Arac/AracGrid?sirketId=' + val.Id + '">' + val.sirketAdi + '</a></li>');
                   



                })
            }
        })


       
    })

</script>